body{
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
}

img{
  width: 100%;
  height: 100%;
}

time{
  font-size: 5px;
  opacity: 0.7;
}

p{
  font-size: 10px;
}

a{
  text-decoration: none;
  color: white;
}

.header-cover{
  background: linear-gradient(90deg,white 35%,black 35%);
  height: 670px;
  margin-bottom: 50px;
}

/* header */

header{
  background-image: url(../img/kv-img@2x-min.png);
  background-size: cover;
  background-position: center;
  height: 580px;
  width: 80%;
}

header h2{
  margin: 0;
  padding: 8px;
}

header h2 img{
  width: 200px;
}

.header-menu{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  display: flex;
  padding: 8px 0;
  padding-right: 8px;
}

.header-menu p{
  margin: 0;
}

.header-menu #open{
  cursor: pointer;
}

.header-title{
  position: absolute;
  top: 200px;
  right: 40px;
  color: white;
}

.header-title span{
  font-size: 8px;
}

.header-title h1{
  margin: 0;
}

button{
  height: 36px;
  width: 160px;
  cursor: pointer;
  color: white;
  background: black;
  border: none;
  border-radius: 10px;
}

button:hover{
  opacity: 0.8;
}

/* nav メニュー */

.hidden li{
  padding-bottom: 16px;
}

.hidden{
  padding-left: 0;
  padding: 50px 50px;
  position: fixed;
  top: 0;
  right: -250px;
  background: rgba(75, 75, 75, 0.9);
  transition: transform  .4s;
}

.hidden.back{
  transform: translate(-250px, 0);
}

.header-menu.none{
  display: none;
}

.hidden #close{
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  color: white;
  padding: 8px;
}

/* ABOUT */

main{
  z-index: 0;
  background-image: url(../img/about-img@2x-min.png);
  background-size: cover;
  background-position: center;
  height: 550px;
  width: 100%;
}

main .waku{
  z-index: 1;
  background-color: white;
  height: 440px;
  width: 90%;
  margin-left: 5%;
  position: relative;
  top: 55px;
}

.waku h2{
  margin: 0;
  padding-top: 80px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.waku p{
  margin: 0;
  padding: 0 20px 80px 20px;
}

.waku button{
  margin-left: 30px;
}

/* WORKS */

.works{
  width: 90%;
  margin-left: 5%;
}

.works h2{
  margin: 0;
  padding: 15px 0;
}

.works p{
  margin: 0;
  padding: 16px 0;
}

/* CULTIRE */

.cultire{
  width: 90%;
  margin-left: 5%;
}

.cultire h2{
  margin: 0;
  padding: 15px 0;
}

.cultire p{
  margin: 0;
  padding: 16px 0;
}

/* TOPICS */

.topics{
  width: 90%;
  margin-left: 5%;
}

.topics ul{
  padding-left: 0;
}

.topics li{
  border-bottom: solid 1px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.topics p{
  margin: 0;
  padding-top: 8px;
}

.topics button{
  margin-top: 32px;
  margin-bottom: 32px;
}

/* CONTACT */

.contact{
  width: 90%;
  margin-left: 5%;
}

.contact h2{
  margin: 0;
  padding: 15px 0;
}

.contact p{
  margin: 0;
  margin-bottom: 24px;
}

/* FOOTER */

.footer{
  background: rgba(114, 110, 110, 0.9);
  padding: 16px;
  margin-top: 32px;
}

.footer p{
  text-align: center;
}

/* device-pc */

@media screen and (min-width: 600px){

  /* pc-header */

  .header-cover{
    background: linear-gradient(90deg,white 0,white 50%,black 50%,black 100%);
  }

  header{
    width: 75%;
  }

  /*pc- nav */

  .hidden{
    padding-left: 0;
    padding: 100px 100px;
    position: fixed;
    top: 0;
    right: -325px;
    background: rgba(75, 75, 75, 0.9);
    transition: transform  .4s;
  }

  .header-title{
    margin-right: 13%;
  }
  
  .hidden.back{
    transform: translate(-325px, 0);
  }

  /* pc-main */

  main .waku{
    width: 60%;
    margin-left: 20%;
  }

  /* pc-works&cultire */

  .container{
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  /* pc-topics */

  .topics ul{
    width: 60%;
    margin-left: auto;
  }

  .topics button{
    float: right;
  }

  /* pc-contact */

  .contact{
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
  }

  .contact .box2{
    grid-row: 1;
    padding-top: 50px;
  }
}